Django
asgiref
cryptography
certifi
charset-normalizer
django-admin-thumbnails
django-environ
psycopg2
waitress
boto3
django-storages
idna
pytz
requests
six
sqlparse
urllib3
whitenoise
pytest
factory-boy
Pillow
PyYAML